{% extends "base.html" %}

{% block title %}よくある質問 | ふぉれすと{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/page.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/faq.css') }}">


<main class="page qa_main">
    <section class="main_img qa">
        <h1>よくある質問
            <span>question & answer</span>
        </h1>
    </section>
    <nav>
        <ul>
            <li><a href="#site">サイト・施設について</a></li>
            <li><a href="#reservation">予約・チェックインについて</a></li>
            <li><a href="#service">サービス・利用ルールについて</a></li>
        </ul>
    </nav>
    <section id="qa_list">
        <h2 id="site">サイト・施設について</h2>
        <ul id="faq-list1"></ul>
        <h2 id="reservation">予約・チェックインについて</h2>
        <ul id="faq-list2"></ul>
        <h2 id="service">サービス・利用ルールについて</h2>
        <ul id="faq-list3"></ul>
        <div>
            <p>その他ご不明な点がございましたら、<br>お気軽にお問い合わせください。</p>
            <p id="inquiry"><a href="/contact">お問い合わせ先はこちら <i class='fa-solid fa-arrow-up-right-from-square'></i></a>
            </p>
        </div>
    </section>
</main>
<script src="{{ url_for('static', filename='js/faq.js') }}" defer></script>
{% endblock %}