#menu {
    display: grid;
     /* 要素を格子状に並べて配置 */
    gap: 30px;
   /* グリッド間の余白設定 */
    grid-template-columns: repeat(3, 1fr);
    /* repeat関数 3列かつ1frの等間隔比率 */
    max-width: 1000px;
    margin: auto;
    padding: 30px;
    text-align: center;
}

img {
    width: 100%;
    aspect-ratio: 4 / 3;
    /* アスペクト比の設定 */
    object-fit: cover;
}

h1 {
    margin: 30px 0;
    font-size: 40px;
}

h2 {
    margin-top: 6px;
    font-size: 24px;
    /* ← 追加 */
}

p {
    /* ← 追加 */
    margin-top: 10px;
    /* ← 追加 */
    font-size: 20px;
    /* ← 追加 */
}

/* ← 追加 */