{% extends "base.html" %}

{% block title %}お問い合わせ | ふぉれすと{% endblock %}

{% block content %}
<!-- CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/page.css') }}">

<main class="page">
  <section class="main_img contact">
    <h1>お問い合わせ
      <span>contact</span>
    </h1>
  </section>

  <section class="page_content">
    <h2>お問い合わせについて</h2>
    <ul class="contact">
      <li>お問い合わせを入力いただく前に　<a href="/faq" target="_blank">よくある質問 <i
            class="fa-solid fa-arrow-up-right-from-square"></i></a>　をご一読ください。</li>
      <li>送信完了後、数分以内にお問い合わせ控えとして自動返信メールが届きます。</li>
      <li>自動返信メールが届かない場合は、お手数ですが別途お問い合わせください。</li>
    </ul>

    <div class="contact_field">
      <form action="{{ url_for('contact') }}" method="POST">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div
          style="background-color: #e2f0d9; color: #385623; padding: 15px; margin-bottom: 20px; border-radius: 5px; text-align: center;">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <table class="contact">
          <tr>
            <th>お名前</th>
            <td>
              <input type="text" name="username" placeholder="例：山田 太郎" required>
            </td>
          </tr>
          <tr>
            <th>ふりがな</th>
            <td>
              <input type="text" name="furigana" placeholder="例：やまだ たろう" required>
            </td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td>
              <input type="text" name="email" placeholder="例：yamada@example.com" required>
            </td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td>
              <input type="text" name="tel" placeholder="例：00011112222" required>
            </td>
          </tr>
          <tr>
            <th>ご希望の連絡方法</th>
            <td class="radio">
              <div class="radio-group">
                <label><input type="radio" name="contact_method" value="tel"><span>電話</span></label>
                <label><input type="radio" name="contact_method" value="mail" required><span>メール</span></label>
              </div>
            </td>
          </tr>
          <tr>
            <th class="textarea no_required">お問い合わせの内容</th>
            <td>
              <textarea type="text" name="message"></textarea>
            </td>
          </tr>
        </table>
        <div class="privacy_policy">
          <h3>個人情報保護のための方針</h3>
          <div class="policy_box">
            <ol>
              <li>当施設は、個人情報を取り扱う責任者を置き、適切な管理を実施しております。</li>
              <li>当施設は、個人情報の収集において、利用目的や問い合わせ窓口を明確にしたうえで個人情報の収集を実施いたします。</li>
              <li>
                当施設は、個人情報の利用において、利用目的に同意をいただいた範囲内で個人情報を取り扱い、個人情報を利用目的の範囲内で業務委託先に提供する場合、業務委託先との間で個人情報保護に関する契約を締結し、適切な管理を実施いたします。
              </li>
              <li>当施設は、個人情報を適切に管理し、以下の場合を除き事前承諾を得た範囲外で第三者への情報開示および提供を一切行いません。
                <ul>
                  <li>法令に基づく場合。</li>
                  <li>人の生命、身体または財産の保護のために必要がある場合であって、本人の同意を得ることが困難であるとき。</li>
                  <li>公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難であるとき。</li>
                  <li>
                    国の機関若しくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき。
                  </li>
                  <li>「個人情報の保護に関する法律」に基づくオプトアウトを行っている場合。</li>
                </ul>
              </li>
              <li>当施設は、個人情報への不正アクセス、紛失、破壊、改ざんおよび漏洩などが起こらないように安全対策を実施いたします。</li>
              <li>当施設は、個人情報の開示、訂正、削除について、ご本人様であることを確認した後に合理的な範囲をもって対応いたします。</li>
              <li>当施設は、個人情報に関して適用される法令、規範を遵守します。</li>
              <li>当施設は、個人情報の保護に関するコンプライアンス・プログラムを継続的に改善いたします。</li>
              <li>当施設は、社会情勢の変化、技術の進歩、個人情報保護法の改正等に応じ、事前の予告なくプライバシーポリシーを変更することがあります。</li>
              <li>ご意見、ご質問、苦情のお申出その他利用者情報の取扱いに関するお問い合わせは、下記の窓口までお願いいたします。</li>
              <li>当施設は、個人情報を取り扱う責任者を置き、適切な管理を実施しております。
                <ul>
                  <li>住所：〒061-1266 北海道北広島市三島62-1</li>
                  <li>北広島かえるキャンプ場</li>
                  <li>連絡先：office@kaeru-camp.com</li>
                </ul>
              </li>
            </ol>
          </div>
        </div>

        <div class="confirm_area">
          <label class="checkbox_label">
            <input type="checkbox" name="agree_policy" required>
            <span>個人情報の取り扱いについて同意する</span>
          </label>
          <label class="checkbox_label">
            <input type="checkbox" name="confirm_content" required>
            <span>送信前に、内容を確認した</span>
          </label>
        </div>

        <div class="submit_area">
          <button type="submit" class="submit_btn">
            送信する <span class="arrow">→</span>
          </button>
        </div>
      </form>

    </div>



  </section>
</main>
{% endblock %}